/*input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}*/

body{
    background: rgba(20, 38, 110, 0.719); 
    background: radial-gradient(circle, rgba(20, 38, 110, 0.719) 0%, rgba(0, 130, 211, 0.486) 100%);
}

.btnpurchase{
    width: 150px;
    height: 150px;
}

@media (max-width: 1300px) {

    .btnpurchase {
        width: 120px;
        height: 120px;
    }

}

@media (max-width: 1070px) {

    .btnpurchase {
        width: 100px;
        height: 100px;
    }

}

.table-wrapper {
    width: 100%;
    height: 300px; /* Altura de ejemplo */
    overflow: auto;
  }
  
  .table-wrapper table {
    border-collapse: separate;
    border-spacing: 0;
  }
  
  .table-wrapper table thead {
    position: -webkit-sticky; /* Safari... */
    position: sticky;
    top: 0;
    left: 0;
  }
  
